
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontdielectro-primary: mat.define-palette(mat.$indigo-palette);
$frontdielectro-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontdielectro-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontdielectro-theme: mat.define-light-theme((
  color: (
    primary: $frontdielectro-primary,
    accent: $frontdielectro-accent,
    warn: $frontdielectro-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontdielectro-theme);

.bg-img {
   /* Location of the image-> src: https://wallpaperscraft.com/wallpaper/office_work_interior_walls_80538  */
 background-image: url(./assets/office.jpg);
 
 /* Background image is centered vertically and horizontally at all times */
 background-position: center center;
 
 /* Background image doesn't tile */
 background-repeat: no-repeat;
 
 /* Background image is fixed in the viewport so that it doesn't move when 
    the content's height is greater than the image's height */
 background-attachment: fixed;
 
 /* This is what makes the background image rescale based
    on the container's size */
 background-size: cover;
 
 /* Set a background color that will be displayed
    while the background image is loading */
 background-color: #464646;
}

.bg-img-white {
   /* Location of the image-> src: https://wallpaperscraft.com/wallpaper/office_work_interior_walls_80538  */
 background-image: none;
 
 /* Background image is centered vertically and horizontally at all times */
 background-position: center center;
 
 /* Background image doesn't tile */
 background-repeat: no-repeat;
 
 /* Background image is fixed in the viewport so that it doesn't move when 
    the content's height is greater than the image's height */
 background-attachment: fixed;
 
 /* This is what makes the background image rescale based
    on the container's size */
 background-size: cover;
 
 /* Set a background color that will be displayed
    while the background image is loading */
 background-color: #ffffff;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

